@model IEnumerable<EmployeeViewModel>
@{
    ViewData["Title"] = "Index";
}
@if(TempData["Message"] is not null)
{
    <div class="alert alert-success">
        @TempData["Message"]

    </div>
}

<h1>All Employees</h1>
<a asp-action="Create" class="btn btn-success">Create New Employee</a>

<br />
@if (Model.Count() > 0)
{
    <table class="table table-striped mt-3 table-hover">
        <thead>
       
        <td>@Html.DisplayNameFor(e => e.Name)</td>
        <td>@Html.DisplayNameFor(e => e.Email)</td>
         <td>@Html.DisplayNameFor(e => e.Address)</td>
        <td>@Html.DisplayNameFor(e => e.Age)</td>
        <td>@Html.DisplayNameFor(e => e.Phone)</td>
        <td>@Html.DisplayNameFor(e => e.Salary)</td>
        <td>@Html.DisplayNameFor(e => e.Department)</td>

        <td>@Html.DisplayNameFor(e => e.HiringDate)</td>
        <td>@Html.DisplayNameFor(e => e.IsActive)</td>
       
        <td>Details</td>
        <td>Update</td>
        <td>Delete</td>

        </thead>
        <tbody>
            @foreach (var Employee in Model)
            {
                <tr>
                    <td>@Employee.Name</td>
                    <td>@Html.DisplayFor(e=>Employee.Email)</td>
                    <td>@Employee.Address</td>
                    <td>@Employee.Age</td>
                    <td>@Employee.Phone</td>
                    <td>@Html.DisplayFor(e=>Employee.Salary)</td>
                    <td>@Html.DisplayFor(e => Employee.Department.Name)</td>
                    <td>@Employee.HiringDate</td>
                    <td>
                        @if (Employee.IsActive == true)
                        {
                            <i class="fa-solid fa-circle" style="color:Green"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-circle" style="color:red"></i>
                            
                        }

                            
                  
                        </td>
               
                    <partial name="_ButtonsPartialViews" model="@Employee.Id" />
                    
        
                </tr>
            }

        </tbody>
    </table>

}
else
{
    <div class="mt-5 alert alert-warning">
        <h3>There Is No Employees</h3>
    </div>
}

